@model UserViewModel

@{
    ViewBag.Title = "Eliminación usuario";
}

<h2>Eliminar</h2>

<h3>¿Está seguro que quiere eliminar al usuario?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model =>model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Document)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Delete" asp-controller="User">
        <input asp-for="UserId" type="hidden" />
        <input asp-for="UserName" type="hidden" />
        <input asp-for="FirstName" type="hidden" />
        <input asp-for="LastName" type="hidden" />
        <input asp-for="Document" type="hidden" />
        <input asp-for="Role" type="hidden" />
        <input asp-for="Active" type="hidden" />
        <div class="text-danger">
            @ViewBag.Error
        </div>
        <input type="submit" value="Eliminar" class="btn btn-secondary" />
        <a asp-action="Index" class="btn btn-primary">Atrás</a>
    </form>
</div>