@model List<UserViewModel>

@{
    ViewBag.Title = "Listado de usuarios";
}

<h2>Usuarios</h2>

<a asp-action="Create" class="btn btn-primary">Nuevo</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Rol</th>
            <th>Activo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Role)
                </td>
                <td>
                    @(item.Active ? "Si" : "No")
                </td>
                <td>
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.UserId">Consultar</a>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.UserId">Editar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UserId" >Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>